include AUTHORS.txt
include CHANGELOG.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
include HGREV
recursive-include markitup/templates *.html
recursive-include markitup/media *.html *.css *.js *.txt *.png
